/* Define the page background */
body {
  background-color: #F2F2F2;
}

/* Style the container */
.my-container {
  position: relative;
  margin: 20px;
  padding: 20px;
  background-color: #32bb42;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style the center image */
.center-image {
  display: block;
  margin: 20px auto 0;
}

/* Style the header */
h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.username,
.userId,
.email,
.password,
.favline {
  font-weight: bold;
}

.password {
  font-style: italic;
}


button:hover {
  background-color: #249c33;
}

/* Hide the log out button on small screens */
@media screen and (max-width: 768px) {
  button {
    display: none;
  }
}
