.route-patterns-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #ccc;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
}

.custom-card-link {
  text-decoration: none;
}

.custom-card-link:hover {
  text-decoration: none;
}

.custom-card-link:focus {
  outline: none;
}
.custom-card-title {
  color: black;
}
